.GroupCard {
  width: 18.5vw;
  height: 12vw;
  margin: 1vw 0;
  padding: 2vw;
  border-radius: 1vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(199, 199, 199);
  box-shadow: 0 0 0.7rem rgb(220, 220, 220);
  cursor: pointer;
}

.GroupCard:hover {
  filter: drop-shadow(0 0 0.5rem rgb(19, 209, 187));
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.GroupCard__title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
  max-height: 2rem;
}
